@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #181e2a;
}
.bg-sci-fi-bg {
  background: #1a2035;
}
.text-sci-fi-blue {
  color: #21e6c1;
}
.shadow-sci-fi-glow {
  box-shadow: 0 0 10px #21e6c1, 0 0 40px #21e6c1;
}
