@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  background: #181e2a;
}
.glassmorph {
  background: rgba(15, 25, 45, 0.7);
  box-shadow: 0 8px 32px 0 rgba(18, 206, 250, 0.27);
  backdrop-filter: blur(8px);
  border-radius: 18px;
  border: 2px solid rgba(18, 206, 250, 0.2);
}
.neon-glow {
  box-shadow: 0 0 12px 2px #2ee8fa, 0 0 24px 6px #083c5b inset;
}